.monster {
  position: relative;
  width: 170px;
  height: 145px;
  margin: 0 auto;
  background: #fff7f0;
  border: 5px solid #4f4356;
  border-radius: 42px 42px 36px 36px;
  box-shadow:
    8px 8px 0 #d9c4ff;
  transition: 0.2s;
}

.monster.eating {
  transform: scale(1.08);
}

.monster::before {
  content: "";

  position: absolute;

  top: -18px;
  left: 55px;

  width: 22px;
  height: 22px;

  background: #fff7f0;

  border-left: 5px solid #4f4356;
  border-top: 5px solid #4f4356;

  transform: rotate(45deg);
}

.monster::after {
  content: "";

  position: absolute;

  top: -14px;
  right: 52px;

  width: 20px;
  height: 20px;

  background: #fff7f0;

  border-left: 5px solid #4f4356;
  border-top: 5px solid #4f4356;

  transform: rotate(45deg);
}

.ear {
  display: none;
}

.horn {
  position: absolute;

  top: -24px;

  width: 26px;
  height: 34px;

  background: #f3d49a;

  border: 5px solid #4f4356;

  border-radius: 16px 16px 4px 4px;
}

.left-horn {
  left: 28px;

  transform: rotate(-18deg);
}

.right-horn {
  right: 28px;

  transform: rotate(18deg);
}

.fur {
  display: none;
}

.eye {
  position: absolute;

  top: 46px;

  width: 24px;
  height: 24px;

  background: #2f2538;

  border-radius: 4px;
}

.eye span {
  position: absolute;

  top: 4px;
  left: 5px;

  width: 6px;
  height: 6px;

  background: white;
}

.left-eye {
  left: 44px;
}

.right-eye {
  right: 44px;
}

.cheek {
  position: absolute;

  top: 80px;

  width: 20px;
  height: 10px;

  background: #ffc2d4;

  border-radius: 4px;
}

.left-cheek {
  left: 26px;
}

.right-cheek {
  right: 26px;
}

.mouth {
  position: absolute;

  left: 50%;
  bottom: 34px;

  width: 48px;
  height: 28px;

  background: #2f2538;

  border-radius:
    4px 4px 18px 18px;

  transform: translateX(-50%);

  overflow: hidden;
}

.monster.eating .mouth {
  width: 64px;

  height: 42px;
}

.tongue {
  position: absolute;

  left: 50%;
  bottom: -2px;

  width: 26px;
  height: 14px;

  background: #ff8fa8;

  transform: translateX(-50%);

  border-radius: 8px 8px 0 0;
}

.arm {
  position: absolute;

  top: 82px;

  width: 34px;
  height: 22px;

  background: #fff7f0;

  border: 5px solid #4f4356;

  border-radius: 12px;
}

.left-arm {
  left: -24px;
}

.right-arm {
  right: -24px;
}

.foot {
  position: absolute;

  bottom: -18px;

  width: 36px;
  height: 20px;

  background: #fff7f0;

  border: 5px solid #4f4356;

  border-radius: 8px;
}

.left-foot {
  left: 38px;
}

.right-foot {
  right: 38px;
}